<div class="tour-card" [routerLink]="routerLink">

  <!-- IMAGE -->
  <div class="tour-image">

    <img [src]="image" [alt]="title" loading="lazy" />

    <!-- Overlay -->
    <div class="overlay"></div>

    <!-- Top badges
    <div class="top-badges">

  <span *ngIf="isBestseller" class="badge bestseller">
    🔥 Bestseller
  </span>

  <span *ngIf="isLimited" class="badge limited">
    ⚡ Limited Seats
  </span>

</div> -->

    <!-- Floating icons -->
    <div class="card-actions">
      <i class="fa fa-heart"></i>
      <i class="fa fa-eye"></i>
    </div>

    <!-- Price -->
    <div class="price-badge">
      $ {{ (price/2) | number:'1.0-0' }}
      <span>/ person</span>
    </div>

  </div>

  <!-- CONTENT -->
  <div class="tour-content">

    <div class="top-info">
      <span><i class="fa fa-calendar-alt"></i> {{ days }}</span>
      <span><i class="fa fa-user"></i> {{ persons }}</span>
    </div>

    <h3 class="tour-title">{{ title }}</h3>

    <!-- Rating -->
    <!-- <div class="rating-row">
      <div class="stars">
        <i class="fa fa-star"></i>
        <span>{{ rating }}</span>
      </div>
      <span class="reviews">(124 reviews)</span>
    </div> -->

    <!-- Trust badges -->
    <div class="tour-tags">
      <span><i class="fa fa-check-circle"></i> Free Cancel</span>
      <span><i class="fa fa-bolt"></i> Instant Confirm</span>
      <span><i class="fa fa-credit-card"></i> Pay Later</span>
    </div>

  </div>
</div>